
.p-main
  = render 'call_me'
  %p
    Leprosy is a disease typically found in the tropics. Patients with leprosy can have varying presentation with constitutional symptoms, joint pains, skin nodules, and rarely a vasculitis-like picture with skin ulcers and neuropathy. We present a young lady who presented with the rare manifestation of skin infarcts mimicking cutaneous vasculitis, diagnosed on histopathology to have Lucio phenomenon on a background of lepromatous leprosy. With increasing migration and widespread use of biologic response modifiers, clinicians all over the world need to be aware of various presentations of leprosy as well as needing to keep an open mind while considering the differential diagnoses of vasculitis.
  = render 'call_me'
  %p
    Leprosy is a disease typically found in the tropics. Patients with leprosy can have varying presentation with constitutional symptoms, joint pains, skin nodules, and rarely a vasculitis-like picture with skin ulcers and neuropathy. We present a young lady who presented with the rare manifestation of skin infarcts mimicking cutaneous vasculitis, diagnosed on histopathology to have Lucio phenomenon on a background of lepromatous leprosy. With increasing migration and widespread use of biologic response modifiers, clinicians all over the world need to be aware of various presentations of leprosy as well as needing to keep an open mind while considering the differential diagnoses of vasculitis.
  = render 'call_me'
